.Button {
  color: #ffffff;
  padding: 20px;
  background: #9370db;
  border-radius: 40px;
  margin: 0 10px;
}

.Button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .Button {
    font-size: 24px;
  }
}
