.MainContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media (min-width: 768px) {
  .MainContent {
    flex-direction: row-reverse;
  }
  .MainImg {
    margin: auto 0;
  }
}

@media (min-width: 1440px) {
  .MainContent {
    flex-direction: row;
  }

  .MainImg {
    flex-grow: 1;
  }
}
