.TrendText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.TrendText h1 {
  margin: 0;
}

.TrendText h2 {
  margin: 0;
}

.TrendText p {
  margin: 0;
}

@media (min-width: 768px) {
  .TrendText {
    justify-content: start;
  }

  .TrendText h2 {
    margin: 5% 0;
  }
}
