.SubscriptionItem {
  background: #ffffff;
  border-radius: 10px;
  margin: 0 10%;
  box-shadow: 0 0 5px #000;
}

.SubscriptionItem h1 {
  font-size: 18px;
}

.SubscriptionItem strong {
  color: #9370db;
}

@media (min-width: 768px) {
  .SubscriptionItem h1 {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .SubscriptionItem {
    width: 30%;
    margin: 0 5%;
  }
}
